@import "https://fonts.googleapis.com/css?family=Lato:100";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Lato", Arial, sans-serif;
}

@media all{
body{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #0B1316, #082E3B, #58828E ,#7F9B9E);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    }
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("image.jpg");
    text-align: center;
    border-radius: 15px;
}

.box h2{
    color: #0B1316;
    text-transform: uppercase;
    font-style: "Lato", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #6A1B9A;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #CE93D8;
}

.box input[type = "submit"]{
    border: 0;
    background: #CE93D8;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #CE93D8;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #6A1B9A;
    border: #6A1B9A;
}

.przycisk input[type = "submit"]{
    border: 0;
    background: #CE93D8;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #CE93D8;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.przycisk input[type = "submit"]:hover{
    background: #6A1B9A;
    border: #6A1B9A;
}

.blad{
    color:red;
    font-size: 10px;
    display: block;
    padding: 550px 100px;
    text-align: center;
}


.menu {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: max-content;
    overflow: hidden;
}


.menu li {
    display: inline-block;
    color: white;
    font-family: "Lato", Arial, sans-serif; 
    font-size: xx-large;
    padding: 0px 30px; 
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    
}

.menu li a{
    color: white;
    text-decoration: none;
    display: block;
    height: auto;
    width: auto;
    float: none;

}

.menu li a:hover {
    width: auto;
    height: auto;
    border: 1px solid white;
    margin: auto auto auto auto;
}



h1{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
}

 @keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.natalia {
    box-sizing: border-box;
    width: 300px;
    padding: 30px 30px;
    position: absolute;
    top: 50%;
    left: 200px; 
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    background: none;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    border: 3px solid #fff;
}

.my {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.marta {
    box-sizing: border-box;
    width: 300px;
    padding: 30px 30px;
    position: absolute;
    top: 50%;
    left: -200px;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    background: none;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    border: 3px solid #fff;
}

.natalia img {
    height: 150px;
    width: 100px;
}

.marta img {
    height: 150px;
    width: 100px;
}

.okno{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
    border-radius: 15px;
}
